/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.a.bio.primary {
 padding-bottom: 40px; 
}

.p {
  
  padding-top: 2px;
  padding-bottom: 5px;
  font-size: 5px;
  line-height: 1.5em;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -5px;      
  margin-bottom: -30px;
}
/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }

  
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */


.right {
    text-align: right;
}
.body {
    border: solid;
}



.left {
    float: left;
}
 .table-cell-test th,
  .table-cell-test td {
    display: table-cell;
  }
 

/* 基本情報編集モーダルウインドウ */

.label-overwork-request {
  margin-top: 5px;
}

.btn-overwork-request {
  margin: 15px 0;
  width: 30%;
}

#modal-content{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}